/* Show it is fixed to the top */
body {
  min-height: 90rem;
  padding-top: 8rem;
}

.d-flex {
  position: right;
  top:35%;
  background-color:#f1e16e;
  color: rgb(224, 96, 16);
  border:none; 
  border-radius:2px; 
  padding:4px;
  min-height:22px; 
  min-width: 80px;
}
