<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/styles.css">

    <title>Responsive website food</title>
</head>
<body>

<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <!--<a href="#" class="nav__logo">Tasty</a>-->


        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link"><img src="/img/logo_with_name.png"></a>
                </li>
                <li class="nav__item"><a href="#home" class="nav__link active-link" style="text-align:center;">Home</a>
                </li>
                <li class="nav__item"><a href="#menu" class="nav__link" style="text-align:center;">Menu</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link" style="text-align:center;">Contact</a></li>
                <a href="#" style="text-align:center;" class="button">Login</a>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<main class="l-main">
    <!--========== HOME ==========-->
    <section class="home" id="home">
        <div class="home__container bd-container bd-grid">
            <div class="home__data">
                <h1 class="home__title">Tasty food</h1>
                <h2 class="home__subtitle">Once you try it,<br> you will love it</h2>
                <a href="#" class="button">Reservation</a>
            </div>

            <img src="/img/home.png" alt="" class="home__img">
        </div>
    </section>

    <!--========== MENU ==========-->
    <section class="menu section bd-container" id="menu">
        <span class="section-subtitle">Special</span>
        <h2 class="section-title">Menu Card</h2>

        <div class="menu__container bd-grid">
            <div class="menu__content">
                <img src="/img/plate2.png" alt="" class="menu__img">
                <h3 class="menu__name">Starter</h3>
                <span class="menu__detail">Hot & Cold </span>
                <a href="#" class="button menu__button">Show</i></a>
            </div>

            <div class="menu__content">
                <img src="/img/plate1.png" alt="" class="menu__img">
                <h3 class="menu__name">Main Course</h3>
                <span class="menu__detail">Delicious</span>
                <a href="#" class="button menu__button">Show</i></a>
            </div>

            <div class="menu__content">
                <img src="/img/drinks2.png" alt="" class="menu__img">
                <h3 class="menu__name">Drinks</h3>
                <span class="menu__detail">Hot & Cold </span>
                <a href="#" class="button menu__button">Show</i></a>
            </div>

            <div class="menu__content">
                <img src="/img/dessert.png" alt="" class="menu__img">
                <h3 class="menu__name">Dessert</h3>
                <span class="menu__detail">Fresh & Delicious</span>
                <a href="#" class="button menu__button">Show</a>
            </div>
        </div>
    </section>

    <!--========== CONTACT US ==========-->
    <section class="contact section bd-container" id="contact">
        <div class="contact__container bd-grid">
            <div class="contact__data">
                <span class="section-subtitle contact__initial">Let's talk</span>
                <h2 class="section-title contact__initial">Contact us</h2>
                <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we will
                    attend you quickly, the restaurant is open between 10:00am and 10:00pm .</p>
                <p class="contact__description"> Phone: (816) 454-7977 </p>
                <p class="contact__description"> Address:
                    Via Bettega 12
                    38018 Molveno (Tn)
                    Italia
                </p>
            </div>
        </div>
    </section>
</main>
<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Molveno Lake Resort</a>
            <span class="footer__logo">Restaurant</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>


        <div class="footer__content">
            <h3 class="footer__logo">Adress</h3>
            <ul>
                <li>Via Bettega 12 38018
                    Molveno (Tn), Italia</li>
                <li>(816) 454-7977</li>
                <li>molvenorestaurant@gmail.com</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2022 Capgemini Netherlands. All right reserved</p>
</footer>

<!--========== SCROLL REVEAL ==========-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="/js/main.js"></script>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>