<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">



    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/styles.css">

    <title>Responsive website food</title>
    <script type="text/javascript">
        init();
    </script>
</head>
<body>



<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">



        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <table><tr><td>
                    <li class="nav__item"><a href="#home" class="nav__link"><img height="300"
                                                                                 src="/img/logo_with_name.png"
                                                                                 width="500"></a>
                    </li></td><td>
                    <li class="nav__item"><a href="personnel" class="nav__link active-link" style="text-align:center;"><h2 class="home__mainmenutitle">Personnel</h2></a>
                    </li></td><td>
                    <li class="nav__item"><a href="#product" class="nav__link" style="text-align:center;"><h2 class="home__mainmenutitle">Product</h2></a>
                    </li></td><td>
                    <li class="nav__item"><a href="#reservation" class="nav__link" style="text-align:center;"><h2 class="home__mainmenutitle">Reservation</h2></a>
                    </li></td><td>
                    <li class="nav__item"><a href="#menu" class="nav__link" style="text-align:center;"><h2 class="home__mainmenutitle">Menu</h2></a>
                </li></td><td>
                    <li class="nav__item"><a href="#table" class="nav__link" style="text-align:center;"><h2 class="home__mainmenutitle">Table</h2></a>
                    </li></td></tr></table>
                <a id="login-button" ms-hide-element="true" class="button logout login w-button" href="/login" onclick=";window.location.href=this.getAttribute('href');return false;">Logout</a>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>






