<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Menu page</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/session.js"></script>

    <script>
        $( document ).ready(function() {
            console.log( "initializing" );
            init();
            initMenu();

        });

    </script>

</head>
<body>

<div class="container">
    <div th:insert="/fragments/menu :: menu"></div>
</div>
</p>
<div class="container">
    <table id="menuTable" bgcolor="#F0F8FF" class="table table-striped" style="width:100%">
    </table>
</div>

</p>
<div id="menuModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Menu List</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="menuForm">
                    <div hidden>
                        <label for="id">Menu Id:</label>
                        <input type="text" class="form-control" id="id">
                    </div>

                    <div class="form-group">
                        <label for="menuName">Menu Name:</label>
                        <input type="text" class="form-control" id="menuName" required>
                    </div>

                    <div class="form-group">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" placeholder="" value=""
                               required>
                    </div>

                    <div class="form-group" role="group" id="menuType" re>
                        <label for="menuType">Menu Type</label>
                        <input type="radio" class="btn-check" id="Starter" name="mType" value="Starter" required>
                        <label class="btn btn-outline-primary">Starter</label>
                        <input type="radio" class="btn-check" id="Maincourse" name="mType" value="Maincourse" required>
                        <label class="btn btn-outline-primary">Maincourse</label>
                        <input type="radio" class="btn-check" id="Drink" name="mType" value="Drink" required>
                        <label class="btn btn-outline-primary">Drink</label>
                        <input type="radio" class="btn-check" id="Dessert" name="mType" value="Dessert" required>
                        <label class="btn btn-outline-primary">Dessert</label>
                    </div>

                    <div class="form-group" hidden>
                        <label for="imagePath" class="form-label">Image<span
                                class="text-muted">(Optional)</span></label>

                        <input type="text" class="form-control" id="imagePath"  accept="image/*"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <!--                        <a class="btn btn-info" onclick="toastr.info('Enter strong password(1..9-a..z-A..Z-(?./)!');">Info message</a>-->
                        <button id="modalButton" type="submit" class="btn btn-primary">Submit</button>
                        <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class=“row”>
    <div class="modal-footer justify-content-center">
        <button type="button" id="create-menu" class="btn btn-primary" data-dismiss="modal">New Menu
        </button>
        <button class="btn btn-primary" id="edit-menu" type="submit">Edit Menu</button>
        <button class="btn btn-primary" id="upload-menu" type="submit">Upload Picture</button>
        <button class="btn btn-primary" id="delete-menu" type="submit">Delete Menu</button>
    </div>
</div>

<div id="menuUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Menu Picture</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img id="menuPicture" name="menuPicture" src="" width="200" height="200">
                <input id="fileupload" type="file" name="fileupload" />
                <!--                This record will delete.Are you sure?-->
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" id="uploadMenuConfirmButton" class="btn btn-danger" data-dismiss="modal">
                    Upload Picture
                </button>
                <button type="button" class="btn btn-secondary room-close-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="menuDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Menu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                This record will delete.Are you sure?
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" id="deleteMenuConfirmButton" class="btn btn-danger" data-dismiss="modal">
                    Delete
                </button>
                <button type="button" class="btn btn-secondary room-close-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>