<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }










    </style>


    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container">
    <main>
        <!--        <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                    <h2>Checkout form</h2>
                    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
                </div>-->

        <!--<div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">−$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>
                </ul>
-->
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Production</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="id" class="form-label">Product Id</label>
                        <input type="text" class="form-control" id="id" placeholder="" value="" required>
                    </div>

                    <div class="col-sm-12">
                        <label for="productName" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="productName" placeholder="" value="" required>
                    </div>


                    <div class="col-sm-12" role="group" aria-label="Measurement Unit">
                        <div class="col-sm-12"><label for="pieces" class="form-label">Measurement Unit</label>
                            <input type="radio" class="btn-check" name="measurementUnit" id="pieces" autocomplete="off">
                            <label class="btn btn-outline-primary" for="pieces">pieces</label>

                            <input type="radio" class="btn-check" name="measurementUnit" id="gram" autocomplete="off">
                            <label class="btn btn-outline-primary" for="gram">gram</label>

                            <input type="radio" class="btn-check" name="measurementUnit" id="litre" autocomplete="off">
                            <label class="btn btn-outline-primary" for="litre">litre</label>
                        </div>

                        <div class="col-sm-12">
                            <label for="newAmount" class="form-label">New Amount</label>
                            <input type="text" class="form-control" id="newAmount" placeholder="" value="" required>
                        </div>
                        <div class="col-sm-12">
                            <label for="stockAmount" class="form-label">Stock Amount</label>
                            <input type="text" class="form-control" id="stockAmount" placeholder="" value=""
                                   required>
                        </div>

                        <div class="col-sm-12">
                            <label for="supplierEmail" class="form-label">Supplier <span
                                    class="text-muted">(Optional)</span></label>
                            <input type="supplierEmail" class="form-control" id="supplierEmail"
                                   placeholder="bol@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address of the supplier for new products.
                            </div>
                        </div>

                        <hr class="my-4">
                        <button class="btn btn-primary" id="add-product" type="submit">Add</button>
                        <button class="btn btn-primary" id="edit-product" type="submit">Edit</button>
                        <button class="btn btn-primary" id="delete-product" type="submit">Delete</button>
                        <button class="btn btn-primary" id="list-product" type="button">List</button>
                        <button class="btn btn-primary" id="exit" type="submit">Exit</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022- Molveno Lale Resort Resturant</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!--
<script src="js/bootstrap.bundle.min.js"></script>
<script src="form-validation.js"></script>-->
<script type="text/javascript" src="js/product.js"></script>

</body>
</html>
